@charset "UTF-8";

main {
    font-size: 14px;
    color: #333333;
}

.product-wrapper {
    display: flex;
    margin-right: auto;
    gap: 60px;
}

.product-img-container {
    width: 33%;
}

.product-img-container p {
    margin-top: 40px;
    margin-bottom: 30px;

}

.product-img {
    width: 400px;
    height: 400px;
}

.product-img img {
    width: 100%;
    height: 100%;
}

.product-detail-container {
    width: 31%;
}

.product-detail-container p {
    margin-bottom: 30px;
    line-height: normal;
}

.product-detail-container p:first-of-type {
    margin-top: 84px;
}

dl {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.back-button {
    text-align: center;
    margin-top: 60px;
}


/*****
*** ここからモバイル ***
******/
@media screen and (max-width: 478px) {
    * {
        margin: 0;
        padding: 0;
    }

    .product-wrapper {
        display: block;
    }

    .product-img-container {
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
    }

    .product-img {
        width: 100%;
    }

    .product-img img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }

    .product-detail-container {
        width: 100%;
    }

    .product-detail-container p:first-of-type {
        margin-top: 30px;
    }

}