@charset "UTF-8";

/*index.html
product.index
CSS*/


main {
  font-size: 12px;
}

.product-title {
  font-size: 14px;
  margin-top: 39px;
  margin-bottom: 32px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
}

.product-wrapper img {
  width: 294px;
  height: 294px;
}

.product-wrapper img:hover {
  opacity: 0.7;
}

.view-more-link {
  display: flex;
  justify-self: center;
  font-size: 14px;
  margin-top: 40px;
}


/*product ページネーション*/
input[type="radio"] {
  display: none;
}

.page2 {
  display: none;
}

#page2:checked~.product-container .page1 {
  display: none;
}

#page2:checked~.product-container .page2 {
  display: block;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.page-number {
  /* margin: 0 8px; */
  cursor: pointer;
}

#page1:checked~.pagination label[for="page1"],
#page2:checked~.pagination label[for="page2"] {
  font-weight: bold;
  text-decoration: underline;
}


/*****
*** ここからモバイル ***
******/
@media screen and (max-width: 478px) {
  * {
    margin: 0;
    padding: 0;
  }

  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 19px;
  }

  .product-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
  }

  .product-wrapper img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

}